{% extends "mail_content/layout.html" %}
{% block content %}
<table class="m_4846347755694808592row"
       style="border-collapse:collapse;border-spacing:0;display:table;padding:0;text-align:left;vertical-align:top;width:100%">
  <tbody>
  <tr style="padding:0;text-align:left;vertical-align:top">
    <th
      class="m_4846347755694808592flush m_4846347755694808592small-12 m_4846347755694808592large-12 m_4846347755694808592columns m_4846347755694808592first m_4846347755694808592last"
      style="Margin:0 auto;color:#322f37;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0!important;padding-left:20px;padding-right:20px;padding-top:0!important;text-align:left;width:560px">
      <table
        style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
        <tbody>
        <tr style="padding:0;text-align:left;vertical-align:top">
          <th
            style="Margin:0;color:#322f37;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
            <h6
              class="m_4846347755694808592text-center m_4846347755694808592mb-0 m_4846347755694808592title"
              style="Margin:0;Margin-bottom:10px;color:inherit;font-family:Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:1.3;margin:0;margin-bottom:0;padding:0;padding-bottom:0;text-align:center;word-wrap:normal">
              {% if share_type == 'direct' %}
              <b>{{it.creator.name or it.creator.email}}</b> đã chia sẻ cho bạn lịch trình: <b>{{it.name}}</b>
              {% else %}
              <b>{{it.creator.name or it.creator.email}}</b> đã chia sẻ vào nhóm <b>{{group.name}}</b> lịch trình: <b>{{it.name}}</b>
              {% endif %}
            </h6>
            <table class="m_4846347755694808592spacer"
                   style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
              <tbody>
              <tr style="padding:0;text-align:left;vertical-align:top">
                <td height="10px"
                    style="Margin:0;border-collapse:collapse!important;color:#322f37;font-family:Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;line-height:10px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                  &nbsp;
                </td>
              </tr>
              </tbody>
            </table>
            <a
              href="{{redirect_url}}"
              style="Margin:0;color:#1976d2;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none"
              target="_blank"
              data-saferedirecturl="https://www.google.com/url?q={{redirect_url}}">
              <center style="min-width:520px;width:100%">
                <img
                  class="m_4846347755694808592float-center m_4846347755694808592small-70-to-70 CToWUd"
                  src="{{default_image_url}}"
                  align="center"
                  style="Margin:0 auto;border:none;clear:both;display:block;float:none;height:90px!important;margin:0 auto;max-width:100%;outline:0;text-align:center;text-decoration:none;width:210px!important">
                <center align="center" class="m_4846347755694808592float-center"
                        style="min-width:520px;width:100%">
                </center>
              </center>
            </a>
          </th>
          <th class="m_4846347755694808592expander"
              style="Margin:0;color:#322f37;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;width:0"></th>
        </tr>
        </tbody>
      </table>
    </th>
  </tr>
  </tbody>
</table>
<table class="m_4846347755694808592row"
       style="border-collapse:collapse;border-spacing:0;display:table;padding:0;text-align:left;vertical-align:top;width:100%">
  <tbody>
  <tr style="padding:0;text-align:left;vertical-align:top">
    <th
      class="m_4846347755694808592editable m_4846347755694808592small-12 m_4846347755694808592large-12 m_4846347755694808592columns m_4846347755694808592first m_4846347755694808592last"
      style="Margin:0 auto;color:#322f37;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:20px;padding-right:20px;padding-top:20px;text-align:left;width:560px">
      <table
        style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
        <tbody>
        <tr style="padding:0;text-align:left;vertical-align:top">
          <th
            style="Margin:0;color:#322f37;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">

            <center style="min-width:520px;width:100%">
              <table
                class="m_4846347755694808592button m_4846347755694808592large m_4846347755694808592float-center"
                style="Margin:0 0 16px 0;border-collapse:collapse;border-spacing:0;float:none;font-weight:300;margin:0 0 16px 0;margin-bottom:0;padding:0;padding-bottom:0;text-align:center;vertical-align:top;width:auto">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                  <td
                    style="Margin:0;border-collapse:collapse!important;color:#322f37;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                    <table
                      style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                      <tbody>
                      <tr style="padding:0;text-align:left;vertical-align:top">
                        <td
                          style="Margin:0;background:#1976d2;border:2px solid #1976d2;border-collapse:collapse!important;color:#fff;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                          <a
                            href="{{redirect_url}}"
                            style="Margin:0;border:0 solid #1976d2;border-radius:3px;color:#fff;display:inline-block;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:regular;line-height:1.3;margin:0;padding:10px 55px 10px 55px;text-align:left;text-decoration:none"
                            target="_blank"
                            data-saferedirecturl="https://www.google.com/url?q={{redirect_url}}">
                            <span>Xem ngay</span>
                          </a></td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                </tbody>
              </table>
            </center>
            <br>
          </th>
          <th class="m_4846347755694808592expander"
              style="Margin:0;color:#322f37;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;width:0"></th>
        </tr>
        </tbody>
      </table>
    </th>
  </tr>
  </tbody>
</table>
{% endblock %}
